@import 'tailwindcss';
@import 'pretendard-jp/dist/web/static/pretendard-jp.css';

@theme {
  /* Default Palette */
  --color-default-900: #211a13;
  --color-default-800: #3a2f24;
  --color-default-700: #534434;
  --color-default-600: #6e5a46;
  --color-default-500: #8b745a;
  --color-default-400: #aa9174;
  --color-default-300: #cbb9a1;
  --color-default-200: #e1d5c5;
  --color-default-100: #f2ece3;
  --color-default-50: #fbf8f2;

  /* Base Colors */
  --color-primary: var(--color-default-900);
  --color-secondary: var(--color-default-600);
  --color-tertiary: color-mix(in oklab, var(--color-default-600), var(--color-base-background) 50%);
  --color-line: var(--color-default-200);
  --color-base-background: white;
  --color-elevated-background: var(--color-default-50);
  --color-elevated-background-hover: var(--color-default-100);
  --color-backdrop: rgb(from var(--color-default-900) r g b / 0.4);

  /* Semantic Colors */
  --color-error-foreground: var(--color-rose-200);
  --color-error: var(--color-rose-500);
  --color-success-foreground: var(--color-emerald-200);
  --color-success: var(--color-emerald-500);
  --color-info-foreground: var(--color-blue-200);
  --color-info: var(--color-blue-500);

  /* Highlight Colors */
  --color-highlight: #eba000;
  --color-highlight-foreground: var(--color-default-50);
  --color-highlight-hover: color-mix(in oklab, var(--color-highlight), var(--color-default-50) 20%);
  --color-highlight-disabled: color-mix(
    in oklab,
    var(--color-highlight),
    var(--color-default-50) 70%
  );

  /* Fonts */
  --font-sans: 'Avenir Next', 'SUIT Variable', 'Pretendard JP', 'Noto Sans KR', sans-serif;

  /* Shadows */
  --shadow-elevated: 0 24px 60px -20px oklch(from var(--color-default-800) l c h / 0.45);
}

@layer base {
  html {
    background: var(--color-base-background);
  }

  button:where(:not([disabled])) {
    cursor: pointer;
  }
}
